INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.h
config.h.in
config.log
config.status
configure
depcomp
install-sh
isync.spec
missing
src/.deps/
src/Makefile
src/Makefile.in
src/compat/.deps/
src/compat/Makefile
src/compat/Makefile.in
src/compat/config.o
src/compat/convert.o
src/compat/isync
src/compat/main.o
src/compat/util.o
src/config.o
src/drv_imap.o
src/drv_maildir.o
src/main.o
src/mbsync
src/mdconvert
src/mdconvert.o
src/sync.o
src/util.o
stamp-h1
