Source: isync
Section: mail
Priority: optional
Maintainer: Nicolas Boullis <nboullis@debian.org>
Uploaders: Nicolas Boullis <nboullis@debian.org>, Theodore Y. Ts'o <tytso@mit.edu>
Standards-Version: 3.6.1
Build-Depends: libssl-dev, debhelper (>= 4.1.16), dpkg-dev (>= 1.9.0), libdb4.0-dev, dpatch

Package: isync
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Suggests: mutt
Description: Synchronize a local maildir with a remote IMAP4 mailbox
 A command line application which synchronizes a local maildir-style
 mailbox with a remote IMAP4 mailbox, suitable for use in disconnected
 mode. Multiple copies of the remote IMAP4 mailbox can be maintained,
 and all flags and messages are synchronized.
 .
 Features:
  * Fast mode for fetching new mail only
  * Supports imaps: (port 993) TLS/SSL connections
  * Supports STARTTLS (RFC2595) for confidentiality
  * Supports NAMESPACE (RFC2342)
  * Supports CRAM-MD5 (RFC2095) for authentication
